@model SeguimientoAlumnosEgresados2.Models.exalumno

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/StyleSheetForm.css" rel="stylesheet" />

<h2>Eliminar exalumno</h2>

<h3>Esta seguro de eliminar este alumno?</h3>
<div>
    <h4>Exalumno</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label class="col-md-2">Primer nombre:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            <label class="col-md-2">Segundo nombre:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.segundoNombre)
        </dd>

        <dt>
            <label class="col-md-2">Apellido:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido)
        </dd>

        <dt>
            <label class="col-md-2">Segundo apellido:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.segundoApellido)
        </dd>

        <dt>
            <label class="col-md-2">Correo:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clave)
        </dd>

        <dt>
            <label class="col-md-2">Telefono</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            <label class="col-md-2">Fecha de nacimiento:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaNacimiento)
        </dd>

        <dt>
            <label class="col-md-2">Fecha de egreso:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaEgreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rutaImg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rutaImg)
        </dd>

        <dt>
            <label class="col-md-2">Carrera</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.carrera.nombreCarrera)
        </dd>

    </dl>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        @Html.ActionLink("Volver a la lista de alumnos", "Index")
    </div>
}
