@model SeguimientoAlumnosEgresados2.Models.historialacademico

@{
    ViewBag.Title = "DeleteH";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/StyleSheetForm.css" rel="stylesheet" />

<h2>Eliminar evento academico</h2>

<h3>Esta seguro de eliminar este evento academico?</h3>
<div>
    <h4>Evento academico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label class="col-md-2">Titulo:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tituloH)
        </dd>

        <dt>
            <label class="col-md-2">Descripcion:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcionH)
        </dd>

        <dt>
            <label class="col-md-2">Fecha:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaH)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.rutaImg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rutaImg)
        </dd>*@

    <dt>
        <label class="col-md-2">Nombre del alumno:</label>
    </dt>

        <dd>
            @Html.DisplayFor(model => model.exalumno.nombre)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar al listado", "IndexH", new { id = Model.noControl })
        </div>
    }
</div>
