@model SeguimientoAlumnosEgresados2.Models.historialacademico

@{
    ViewBag.Title = "DetailsH";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DetailsH</h2>

<div>
    <h4>historialacademico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tituloH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tituloH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcionH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcionH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rutaImg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rutaImg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.exalumno.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.exalumno.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditH", new { id = Model.idhistorialacademico }) |
    @Html.ActionLink("Back to List", "IndexH", new { id = Model.noControl })
</p>
