@model SeguimientoAlumnosEgresados2.Models.historialacademico

@{
    ViewBag.Title = "DetailsH";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/StyleSheetForm.css" rel="stylesheet" />

<h2>Detalles del eveneto</h2>

<div>
    <h4>Evento academico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label class="col-md-2">Titulo:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tituloH)
        </dd>

        <dt>
            <label class="col-md-2">Descripcion:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcionH)
        </dd>

        <dt>
            <label class="col-md-2">Fecha:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaH)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.rutaImg)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.rutaImg)
            </dd>*@

        <dt>
            <label class="col-md-2">Nombre del alumno:</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.exalumno.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "EditH", new { id = Model.idhistorialacademico }) |
    @Html.ActionLink("Volver al listado", "IndexH", new { id = Model.noControl })
</p>
